@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

h1,
h2,
p,
input,
label,
a {
  font-family: "Inter", serif;
}
